name: CI

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Arduino CLI
      uses: ./.github/actions/setup-arduino-cli

    - name: Compile
      run: arduino-cli compile --fqbn arduino:avr:uno src
